header {
background-color: antiquewhite;
text-align: center;
}

main {
background-color: bisque;
margin: 1em;
padding: 1em;

}

body {
background-image: url("record.png");
background-repeat: repeat;
margin: 0;


}